@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;0,800;1,900&display=swap');

*{
    padding: 0%;
    margin: 0%;
    outline: 0ch;
}

.container1{
    background-image: linear-gradient(121deg, rgb(151, 186, 255), rgb(229, 253, 255) 100%);
}
.navbtn{
    text-transform: capitalize;
    margin-left: 70%;
    justify-content: left;
    border: 1px solid rgb(20, 204, 96);
    background-color: transparent;
    border-radius: 16px;
    width: 15.5rem;
    height: 3.375rem;
    font-size: 1rem;
    color: rgb(72, 72, 72); 
    font-family: Montserrat;
    font-weight: 800;
    /* position: fixed; */
    z-index: 6;
}

.changeclr{
    transition: all 0.0s ease 0s;
}
.changeclr:hover{
    cursor: pointer;
    box-shadow: 0 0 40px 40px rgb(20, 204, 96)inset;
}

header{
    margin: 20px,0px,0px;
    padding: 50px;
    background-color: transparent;
    font-size: 40px;
    object-position: top;
    background-color: transparent;
    display: flex;
    
    
}

.logo{
    width: 220px;
    height: 49px;
    position: absolute;
}
h3{
    margin-top: 100px;
    text-align: center;
}
h1{
    text-align: center;
}


.cards{
    margin-top: 100px;
    justify-content: center;
    display: flex;
    margin-left: 200px;
    margin-right: 200px;
    padding-bottom: 50px;
    
    
}

.card{
    background-image: linear-gradient(125deg, rgba(255, 255, 255, 0.5) 1%, rgba(223, 232, 255, 0.2) 60%), linear-gradient(305deg, rgba(255, 255, 255, 0.1) 100%, rgba(255, 255, 255, 0.8));
    padding: 30px 48px 50px ; 
    border-style: solid;
    border-width: 1px;
    width: 50%;
    margin-right: 20px;
    border: solid;
    border-width: 2px;
    border-color: white;
    border-radius: 20px;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 5;
   

}



.page1img{
   
    scale: 80%;
    
}
button{
    
    border: none;
    border-radius: 16px;
    justify-content: center;
    align-items: center;
    background-color: rgb(20, 204, 96);
    color: rgb(255, 255, 255);
    cursor: pointer;
    height: 3.375rem;
    font-family: Montserrat;
    font-size: 1.125rem;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.5px;
    padding: 0px 0px 2px ;
    width: 363px;
    font-weight: 600;
    
    
}
h4{
    font-family: Montserrat;
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.5px;
    text-align: left;
    color: rgb(99, 123, 255);
    margin-bottom: 16px;
}
h3 {
    font-family: Montserrat;
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.5px;
    text-align: center;
    color: rgb(72, 72, 72);
    margin-bottom: 30px;

}
h5{
    display: flex;
    justify-content: center;
    font-family: Montserrat;
    font-weight: 500;
    font-size: medium;
    padding-bottom: 20px;
    
}
.äll-titles{
    padding-bottom: 50px;
}
.title1{
    text-transform: capitalize;
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 1000;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.1;
    letter-spacing: -1px;
    text-align: center;
    color: rgb(72, 72, 72);
}
.title2{
    
    color: #637bff;
    font-family: Montserrat;
    font-size: 60px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.1;
    letter-spacing: -1px;
    text-align: center;
}
.title3{
    color: #484848;
    font-family: Montserrat;
    font-size: 60px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.1;
    letter-spacing: -1px;
    text-align: center;
}

.bluetag{
    position: absolute;
    left: 676px;
    top: 577px;
    background-image: linear-gradient(81deg, rgb(154, 87, 239) -32%, rgb(72, 112, 237) 100%);
    color: rgb(255, 255, 255);
    height: 26px;
    width: 120px;
}

.whitetag{
    position: absolute;
    left: 784px;
    top: 587px;
    background-color: rgb(248, 240, 240);
    height: 18px;
    width: 36px;
    rotate: 45deg;
  
}
.comingsoon{
    font-family: Montserrat;
    font-weight: 400;
    font-size: small;
    color: white;
    padding-left: 5px;
}
/* ----------------------------------2 ---------------------------------------------------------- */
.title4{
    margin-top: 100px;
    font-family: Montserrat;
    font-weight: 500px;
    font-size: 40px
}
.container2{
   padding-left: 300px;
   padding-right:300px ;
}
span{
    color: #637bff;
}
.square{
    position: absolute;
    padding-left: 50px;
    padding-top: 200px;
}
.squareimg{
    width: 170px; 
    fill: none;
}
.round{
    position: absolute;
    left: 76%;
    top:55%;
    
}
.roundimg{
    width: 200px;
    fill: none;
}
.corosol{
    margin-top: 50px;
}
.round2img{
    position: absolute;
    padding-top:20% ;
    padding-left: 5px;
    scale:30%;
    
}
.solidroundimg{
    position: absolute;
    left: 70%;
    top: 900px;
    scale: 60%;
}
.joinus{
    font-size: larger ;
}
.social-flex{

    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: Montserrat;
   

}
.youtubeimg{
    width: 30px;
}
.socialcards{
    
    padding: 10%;
    display: flex;
    flex-direction: column;
    margin: 16px 16px 0px 0px;
    padding: 24px 16p;
    border-style: solid;

    -webkit-box-align: center;
    align-items: center;

    width: 280px;
    height: 180px;
    background: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
    box-sizing: border-box;
    box-shadow: rgb(0 0 0 / 14%) 0px 6px 12px;
    border-radius: 20px;
    padding: 24px 61px;
    margin-right: 16px;
    margin-top: 16px;
    position: relative;

}
.social-font{
    margin-top: 4px;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 46px;
    line-height: 59px;
    text-align: center;

}
.ytfont{
    color: red;
}
.instfont{
    color:rgb(208, 29, 110);
}
.tgfont{
    color: rgb(101, 202, 238);
}
.social-flex{
    padding-bottom: 200px;
}

/* --------------------------------------------------------------- */
.container3{
    
        position: absolute;
        left: 0px;
        background-image: linear-gradient(rgb(226, 248, 255), rgba(255, 255, 255, 0));
        z-index: -1;
        width: 100%;
        height: 2500px;
        font-family: montserrat;
        color:rgb(53, 53, 53);
        
        
}
.t2{
        margin-top: 60px;
        font-size: 45px;
        color: rgb(72, 72, 72);
        font-weight: 600;
        letter-spacing: 0px;
    
}
.paragraph-flex{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    font-size: 16px;
    font-weight: 500;
}
.toutor-corosols{
    display: flex;
    justify-content: center;
    
}
.corosal-card{
    display: block;
    margin: 10px;
    border-radius: 00.8cm;
    border-style: solid;
    border: 2px;
    background:  rgb(255, 255, 255);
    
    
}
.img-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 17%;
    margin-left: 2%;
    color: rgb(250, 250, 250);
    font-weight: 800;
    font-size: 18px;
    z-index: 1;
}
.img{
    filter: brightness(70%) ;
    border-radius: 0.8cm;
    
}
.small-txt{
    font-size: 15px;
    font-weight:600;
    color: #fafafa;
    opacity: 80%;
}
.yellow-div {
    position: absolute;
    margin-left: 280px;
    margin-top: -10px;
    color: rgb(253, 223, 67);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: rgba(255, 255, 255, 0.2);
    font-size: 12px;
    font-weight: bold;   
    height: 31px;
    white-space: nowrap;
    z-index: 100;
    
}
.yellow-txt{
    padding-top: 8px;
}
.card-content{
    display: flex;
    flex-direction: column;
}
.session-txt-blue{
    color: rgb(89, 113, 244);
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.1px;
    margin-left: 8%;
    margin-top: 5%;
    text-align: left;
    
}
.details-size1{
    font-size: 24px;
    font-weight: bold;
    padding-right: 50px;
    text-transform: capitalize;
    margin-left: 30px;
    margin-top: 15px;
}
.details-size2{
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
}
.details-size3{
    font-size: 13px;
    font-weight: 400;
    text-transform: none;
    
}
.name-price-content-flex{
    display: flex;
    align-items: center;
    position: relative;
}       
.align-right{
    position: absolute;
    right: 20px;
}
.list{
    margin-top: 40px;
    margin-left: 55px;
    font-weight: 600;
    
}
.enrollment{
    margin-top: 80px;
    font-weight: 500;
    font-size: small;
    margin-left: 70px;
    margin-bottom: 20px;
    color: #637bff;

}
span{
    font-weight: 800;
}
/* 00000000000000000000000000000000000000000000page300000000000000000000000000000000000000000000 */

.box-contact-flex{
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    border: 1px solid rgb(242, 243, 247);
    background-color: rgb(248, 249, 255);
    width: 752px;
    margin-left: 21%;
    padding: 20px;

}
.txt1{
    color: #484848;
    font-size: 36px;
    padding: 0px 0px 16px;
    font-weight: 700;
}
.txt2{

    font-weight: 500;
    font-size: 20px;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: rgb(72, 72, 72);
}
.button-box-div{
    margin-top: 50px;
}
.contact-btn1{
    
        border: none;
        border-radius: 16px;
        align-items: center;
        background-color: rgb(129, 73, 168);
        color: rgb(255, 255, 255);
        cursor: pointer;
        height: 3.375rem;
        font-size: 1.125rem;   
        letter-spacing: -0.5px;       
        width: 200px;
}
.contact-btn2{
    width: 200px;
    border: 1px solid rgb(129, 73, 168);
    border-radius: 16px;
    background-color: rgb(255, 255, 255);
    color: rgb(88, 101, 242);
    cursor: pointer;
    height: 3.375rem;

}
/* ----------------------------------------------------------- */
.container5-heading{
    margin-top: 150px;
}

.container5{
    
    background-image: linear-gradient(rgb(226, 248, 255), rgba(255, 255, 255, 0));
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 50% ;
    grid-gap: 10px;
   
}
.container5-heading{
    font-size: 40px;
}
.box1{
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff   ;
    padding: 40px 32px 46px;
    border-style: solid;
    border-width: 0;
    border-radius: 1cm;
    padding-top: 50px;
    height: 279px;

}
.txt3{
    text-align:center;
    padding-top: 50px;
    font-size: 26px;
    font-weight: bold;
    color: rgb(72, 72, 72);
}
.txt4{
    padding-top: 40px;
    font-size: 16px;
    font-weight: normal;  
    line-height: 1.4;
    color: rgb(128, 128, 128);
    text-align: center;
}
.box-content1{
    
    margin-left: 60px;
    padding-top: 300px;
}
.box-content-2{
    margin-left: 60px;
    
}
.form-div{
    display: flex;
}
.form-input{
    width: 333px;
    height: 38px;
    border-radius: 2px;
    border: solid;
    border-color: #484848;
    border-width: 1px;
    margin-top: 50px;
    opacity: 30%;
}
.contact-btn3{
    margin-top:40px ;
    margin-left: 10px;
}
.container6{
    background-image: linear-gradient(rgb(255, 248, 243) 0%, rgb(251, 246, 255) 100%);
    padding-top: 100px;
    padding-bottom: 200px;
    
}
.round-container6{
    position: absolute;
    z-index: 1;
   
}
.square-container6{
    right: 10px;
    position: absolute;
    z-index: 1;
}
.box-contact-flex{
    
 padding-top: 100px;
}
/* .................................................................... */


.faq-container{
    margin-left: 200px;
    margin-right: 200px;
    font-size: 15px;
    font-weight: 600;
    color: #484848;
    opacity: 70%;
}
.line-seperator{
    margin-top: 30px;
    border: 1px solid grey;
    opacity: 40%;
}
.content-in-faq{
    margin-top: 25px;
}
.plus-img{
    position: relative;
    left: 923px;
    width: 33px;
    height: 42px;
    color: blue;
    bottom: -20px;
}
/* ===========================================footer-------------======= */
footer{
    
    width: 100vw;
    padding: 7.8125rem 10.6875rem;
    background: rgb(13, 10, 27);
   
}
.footer-grid{
    padding-bottom: 200px;
    margin-left: 103px;
    margin-right: 316px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}
.fade-txt{
    color: #56535f;
    font-weight: 700;
    font-size: 20px;
    opacity: 80%;
    padding: 10px;
}
.fundfolio-txt{
    color: white;
    font-size: 21px;
    padding: 10px;

}
.white-txt{
    color: #ffffff;
    font-size: 16px;
    padding: 10px;
}
.adress-txt{
    font-size: 16px ;
    padding: 10px;
}
.tree-img{
    width: 15px;
}
.regards-flex{
    position: absolute;
    display: flex;
    justify-content: center;
    margin-left: 428px;
    margin-top: 65px;
    
    
}
.tree-img{
    padding-top: 10px;
}
